<STYLE TYPE="text/css">
<!--
body  {border: 0; font-family: arial; font-size: 12px;}
.s,tr  {font-family: arial; font-size: 12px;}
strong  {font-family: arial; font-size: 16px;font-weight: bold;color:red}
H2 {color: white; background-color: #5378D1;padding: 5pt; border: 0px solid;text-align: center; font-size: 22px;font-weight:bold;margin: none; }
H3 { font-size: 15px; font-weight: bold; }
P, UL, OL { margin-left: 1em;margin-right: 1em;text-align: justify; font-family: arial; font-size: 12px;}
UL, OL { padding-left: 30px;}
div.b {color: white; background-color: #5378D1;padding: 5pt; border: 0px solid;text-align: center; font-size: 14px;margin: none; margin-top: 20px; font-family: arial;}
div.b a:link{color: white;}
div.b a:visited{color: #D0D0D0;}

pre {color: blue; margin-left: 3em;}
pre i {color: green; font-style: normal;}
 //-->
</style>